# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Data (fichiers lourds — ne pas committer)
data/*.csv
data/*.parquet
data/*.pkl

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
